body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: hsla(199, 0%, 78%, 1);
    font-family: 'Arial', sans-serif;
}

#life-advice {
    width: 50%;
    display: block;
}

h1 {
    text-align: center;
}

button {
    margin: 1.5rem;
}