body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#life-advice {
    max-width: 50%;
    display: block;
}

h1 {
    text-align: center;
}

button {
    margin: 1.5rem;
}